
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to right, #74ebd5, #ACB6E5);
      color: #333;
      text-align: center;
    }

    header {
      background-color: #333;
      color: white;
      padding: 20px;
    }

    h1 {
      margin: 0;
    }

    button {
      margin-top: 40px;
      padding: 12px 24px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      background:linear-gradient(rgb(245, 147, 147),rgb(94, 94, 255));
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top:20vw;
    }

    button:hover {
      background:linear-gradient(red,blue);
      transform: scale(1.1);
    }

    #message {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }
    footer{
        background-color: black;
        padding: 10px;
        margin-top: 16.5vw;
    }
    p{
        color: white;

    }
